<h1>Enter your names to begin: </h1>

<form action="/new_bookmark" method="post">
  <label for="player_1_name">
  URL
  <input type="text" name="url">
  </label>

  <input type="submit" value="Submit">
</form>
